### Node.js ###
node_modules/
package-lock.json
yarn.lock

### Build Output ###
build/
dist/

### Logs ###
*.log

### Environment Files ###
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
### Vercel ###
.vercel/

### IDE ###
.vscode/
.idea/

### Misc ###
.DS_Store
Thumbs.db

### Testing ###
coverage/
*.test.js
*.test.jsx
*.test.ts
*.test.tsx

### Dependencies ###
*.app
*.g.xlf
*.flf

### AL and Dynamics 365 Business Central ###
.alcache/
.alpackages/