.temoins-section {
  width: 100%;
  padding: 10px 0 30px;
  background-color: #f9f9f9;
}

.temoins-container {
  width: 100%;
  padding: 0 16px;
}

.temoins-title {
  color: black;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  margin: 18px 0 18px;
}

.temoins-title.mt {
  margin-top: 34px;
}

.temoins-grid {
  display: grid;
  gap: 24px;
  align-items: stretch;
  justify-items: stretch;

  /* 4 colonnes desktop */
  grid-template-columns: repeat(4, minmax(260px, 1fr));
}

/*  responsive */
@media (max-width: 1200px) {
  .temoins-grid {
    grid-template-columns: repeat(3, minmax(260px, 1fr));
  }
}

@media (max-width: 900px) {
  .temoins-grid {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    gap: 18px;
  }
}

@media (max-width: 576px) {
  .temoins-container {
    padding: 0 14px;
  }

  .temoins-title {
    font-size: 18px;
    margin: 14px 0 14px;
  }

  .temoins-grid {
    grid-template-columns: 1fr;
    gap: 14px;
  }
}