.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 70px;
  z-index: 1000;
  width: 300px; /* Augmente légèrement la largeur */
}

/* Positionner l'icône de fermeture en haut à droite dans l'en-tête */
.chatbot-close-icon {
  position: absolute;
  top: 12px;
  left: 305px;
  color: white;
  cursor: pointer;
  z-index: 1005;
  font-size: 20px;
}

/* Styles pour les petits écrans */
@media (max-width: 1000px) {
  .chatbot-container {
      bottom: 50px;
      right: 10px;
      width: 270px; 
  }
}

@media (max-width: 767px) {
  .chatbot-container {
      bottom: 85px;
      right: 10px;
      width: 100%; 
      max-width: 320px;
  }

.chatbot-close-icon {
  position: absolute;
  top: 10px;           /* descend légèrement */
  right: 10px;         /* colle à droite dans le header */
  color: white;
  cursor: pointer;
  z-index: 2000;
  font-size: 22px;
  padding-right: 10px;
}

  
}
