.fixe-button {
    display: none; 
  }
  
  @media (max-width: 800px) {
    .fixe-button {
      display: flex; 
      background-color: #A93D87; /* Couleur de fond */
      position: fixed;
      bottom: 0;
      width: 100%; 
      justify-content: space-around; 
      padding: 10px;
      z-index: 1000; 
      height: 58px;
      position: fixed;
    }
  
    .appel {
      flex: 1; 
      text-align: center; 
    }

    .telechargement{
      margin-left: 10px;
    }
  }
  