.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .scroll-button {
    width: 40px;
    height:40px;
    background-color: #C90076;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .scroll-button:hover {
    background-color: #C90076; /* Couleur lors du hover */
  }
  
  .scroll-button span {
    font-size: 24px;
    color: white;
  }
  