.inscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00C3D4; 
  padding: 20px;
  border-radius: 15px;
  width: 600px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  height: auto;
}

.inscription-title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.inscription-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inscription-label {
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

.inscription-input {
  width: 80%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  gap: 17px;
  background-color: white;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
  margin-left: 40px;
}

.inscription-button {
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
}

.inscription-button:hover {
  background-color: #333333;
}

.inscription-login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .inscription-container {
      width: 90%;
  }

  .inscription-input {
      width: 100%;
  }
}
