
.temoignages-page {
  font-family: Arial, sans-serif;
  color: #333;
   background-color: #f9f9f9;
}


.temoignages-resume {
  max-width: 1400px;
  margin: 0 auto;  
  padding: 0 16px;
}

.temoignages-resume-title {
  font-size: 26px;
  margin: 12px 0 12px 0;
}

.temoignages-resume-text {
  line-height: 1.75;
  margin: 0 0 10px 0;
  font-size: 15px;
  color: #444;
}



.temoignage {
  margin-top: 10px;
  padding-bottom: 20px;
}



@media (max-width: 768px) {
  .temoignages-resume-title {
    font-size: 20px;
  }

  .temoignages-resume-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .temoignages-resume {
    margin: 18px auto 14px;
    padding: 0 14px;
  }

  .temoignages-resume-title {
    font-size: 18px;
  }

  .temoignages-resume-text {
    font-size: 13.5px;
  }
}
