.floating-button {
  position: fixed;
  top: 280px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #004080;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 0;
  z-index: 9999;
}

.floating-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.floating-label {
  margin-left: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  font-weight: bold;
  z-index: 1;
}

.floating-button:hover {
  width: 140px;
  border-radius: 25px;
  justify-content: flex-start;
  padding-left: 14px;
  background-color: #C90076;
}

.floating-button:hover .floating-label {
  opacity: 1;
}
