.call-floating-button {
  position: fixed;
  top: 220px;
  right: 20px;

  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #004080;
  color: #fff;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: none;

  transition: all 0.3s ease;
  z-index: 1000;
  overflow: hidden;
  position: fixed;
}

.call-floating-icon {
  font-size: 24px;
  flex-shrink: 0;
  color: #fff !important;
  line-height: 1;
  z-index: 1001;
}


.call-floating-button .call-floating-icon,
.call-floating-button .call-floating-icon svg {
  opacity: 1 !important;
  visibility: visible !important;
  display: inline-block !important;
  color: #fff !important;
  fill: currentColor !important;
}


.call-floating-label {
  max-width: 0;
  overflow: hidden;

  opacity: 0;
  margin-left: 0;

  white-space: nowrap;
  font-weight: bold;
  transform: translateX(10px);

  transition:
    max-width 0.3s ease,
    opacity 0.3s ease,
    margin-left 0.3s ease,
    transform 0.3s ease;

  z-index: 1001;
}


.call-floating-button:hover {
  width: 190px;           
  border-radius: 25px;
  justify-content: flex-start;
  padding-left: 14px;
  background-color: #C90076;
}

.call-floating-button:hover .call-floating-label {
  max-width: 140px;      
  opacity: 1;
  margin-left: 8px;
  transform: translateX(0);
}
