.horizontal-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 2rem; /* ✅ plus d'espace avec la barre */
  gap: 1.5rem;
  scroll-behavior: smooth;
  cursor: grab;
}

.horizontal-scroll-wrapper.grabbing {
  cursor: grabbing;
}

.card-slide {
  min-width: 380px;
  max-width: 380px;
  height: 370px;
  scroll-snap-align: start;
  flex-shrink: 0;
  transition: transform 0.3s;
}

.card-slide img {
  height: 200px;
  object-fit: cover;
}

/* ✅ Ajout de la flèche dans le lien */
.discover-link {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}

.discover-link:hover {
  text-decoration: underline;
}

/* Bouton violet à gauche */
.mon-button {
  display: flex;
  justify-content: flex-start; /* aligné à gauche */
}

.btn-discover {
  background-color: #A93D87; /* même couleur que Temoignages */
  border: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-discover:hover {
  background-color: #C90076;
}
